.login {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(230, 215, 10);
}

.login form {
    display: block;
    align-items: center;
    padding: 2%;

}

.login form label,
input,
button {
    display: block;
}

.login form input:not([type='submit']) {

    border: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}

.login form button {
    padding: 10px;
    background: black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.inputData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.inputData form {
    display: block;
    align-items: center;
}

.inputData form label {
    padding: 10%;
    font-size: 20px;
    font-style: italic;
}

.inputData form input {
    margin: 10%;
    padding: 10px;
    background: black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.login .loginMal {
    display: none;
    color: red;
    font-size: 20px;    
} 

.muestraData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de la tabla */

.tablaHeader td {
    text-align: center;
    color: beige;
    font-weight: bold;
    font-size: xx-large;
    background-color: black;
    padding: 10px;
}

.filasValores td {
    text-align: center;
    font-family: 'Hubballi';
    font-style: italic;
    font-size: x-large;
    padding: 10px;    
}

